@model MyMood.Web.Models.AddUserFormModel

@using (Html.BeginRouteForm("AddUser", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { placeholder = "e.g. john.smith" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div>
        @Html.LabelFor(m => m.DisplayName)
        @Html.TextBoxFor(m => m.DisplayName, new { placeholder = "e.g. John Smith" })
        @Html.ValidationMessageFor(m => m.DisplayName)
    </div>
    <div>
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "e.g. john.smith@example.org" })
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>
    <div>
        @Html.LabelFor(m => m.AssignedRoles)
        @Html.ListBoxFor(m => m.AssignedRoles, Model.AvailableRoles)
        @Html.ValidationMessageFor(m => m.AssignedRoles)
    </div>
    <div>
        @Html.LabelFor(m => m.Enabled)
        @Html.CheckBoxFor(m => m.Enabled)
        @Html.ValidationMessageFor(m => m.Enabled)
    </div>

}