@model Discover.SLI.Web.Models.User.ChangePasswordFormModel
<h2>Change Password</h2>
@using (Html.BeginRouteForm("ChangeMyPassword", FormMethod.Post))
{
    <div>To change your password simply type your current password and your new password twice to confirm it.</div>
    
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.PasswordFor(m => m.CurrentPassword)
        @Html.ValidationMessageFor(m => m.CurrentPassword)
    </div>
    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmNewPassword)
        @Html.PasswordFor(m => m.ConfirmNewPassword)
        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
    </div>
    <div class="note">Note that your password must be at least 8 characters in length.</div>
    
    <div class="actions">
        <input type="submit" value="Change Password" />
        <a href="@Url.RouteUrl("Home")">Cancel</a>
    </div>
}