@model MyMood.Web.Models.ResetPasswordFormModel

<h2>Reset Password for "@Model.UserName"</h2>

@using (Html.BeginRouteForm("ResetPassword", new { id = Model.UserId }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.UserId)

    <div>
        @Html.LabelFor(m => m.SendToEmailAddress)
        @Html.TextBoxFor(m => m.SendToEmailAddress)
        @Html.ValidationMessageFor(m => m.SendToEmailAddress)
    </div>

}